/*GENERAL*/

body {
        padding-top: 54px;
     }

a {
	color:  #343a40;
}
a:hover {
	color: #FFFFFF;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

/*LOGO*/

#logo {
	width: 6rem;
	max-width: 15%;
	margin-right: 15px;
}
/**/

/*Memory Cards*/
.memoryCard {
	display: inline-flex;
	flex-direction: row;
	box-sizing: border-box;
	border: 1px solid;
	height: 140.5px;
	width: 20%;
	background-color: #343a3ff0;
	margin: 10px;
	animation-name: example;
	animation-duration: 4s;
}

.flip-card {
	background-color: white;
}

.deck {
    width: 100%;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	font-size: 45pt;
	background-color: #80808000;
    animation: rotateY 0.5s 1 linear;
}

@keyframes rotateY {
   to { transform: rotateY(180deg); }
}


.deck .card.match {
	background-color: #008026c7;
	font-size: 45pt;
    animation: positiveNudge 0.3s linear 1 alternate;

}

@keyframes positiveNudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 50px);
  }
  
  80% {
    transform: translate(0, -50px);
  }
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
	font-size: 2rem;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*FOOTER*/
.footer ul {
	padding:15px;
}

[class^="fa"] {
	padding:10px 15px 10px 0;
}

.bg-light {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) and (min-width: 993px) {
	.landscapeScale {
						zoom: 0.8;
						/*-moz-transform: scale(0.9);*/
						/*-moz-margin-top: -15px;*/
					}
	@-moz-document url-prefix() {
    .summaryText {
        font-size:0.75rem;
    }
}				
}

@media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }