/*GENERAL*/

body {
        padding-top: 54px;
     }

a {
	color:  #343a40;
}
a:hover {
	color: #FFFFFF;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

/**/

/*LOGO*/

#logo {
	width: 6rem;
	max-width: 15%;
	margin-right: 15px;
}
/**/

/*Memory Cards*/
.memoryCard {
	display: inline-flex;
	flex-direction: row;
	box-sizing: border-box;
	border: 1px solid;
	height: 140.5px;
	width: 20%;
	background-color: #343a3ff0;
	margin: 10px;
	animation-name: example;
	animation-duration: 4s;
}

.flip-card {
	background-color: white;
}

@keyframes example {
	from {right: -100px;}
	to {right: 0;}
}

/*FOOTER*/
.footer ul {
	padding:15px;
}

[class^="fa"] {
	padding:10px 15px 10px 0;
}

.bg-light {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) and (min-width: 993px) {
	.landscapeScale {
						zoom: 0.8;
						/*-moz-transform: scale(0.9);*/
						/*-moz-margin-top: -15px;*/
					}
	@-moz-document url-prefix() {
    .summaryText {
        font-size:0.75rem;
    }
}				
}

@media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }